.counter {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    margin: 50px auto;
    font-size: 200px;
    padding: 30px 0px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;nav-down: 
}

.bg-even {
    background-color: red;
}

.bg-odd {
    background-color: blue;
}